<div class="container">
    <div class="row mt-5">
        <div class="col s12 text-center">
            <h2>CSV DATA</h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col s12">
            <table class="table table-striped shadow">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">DATE</th>
                        <th scope="col">OPEN</th>
                        <th scope="col">CLOSE</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let item of csv_data;let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.date | date:'yyyy-MM-dd'}}</td>
                        <td>{{item.open}}</td>
                        <td>{{item.close}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col s12 csv_pagination">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" (click)="onPrev()" *ngIf="(currentPage -1) >=0"><span
                            class="page-link">Previous</span></li>
                    <li class="page-item active"><span class="page-link">{{currentPage + 1}}</span></li>
                    <li class="page-item" (click)="onNext()" *ngIf="currentPage <(totalPages-1)">
                        <span class="page-link">Next</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col s6 offset-4">
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">
                ADD
            </button>
        </div>
        <div class="col s2"></div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form #CreateData="ngForm" (ngSubmit)="onClickSubmit(CreateData.value)">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="open_stock_price">Open Stock Price</label>
                        <input type="number" class="form-control" id="open_stock_price" placeholder="11052.35"
                            name="open" ngModel #open="ngModel" required>
                        <span class="text-danger"
                            *ngIf="(open.touched || CreateData.submitted) && open.errors?.required">
                            Open is required
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="Closing_stock_price">Closing Stock Price</label>
                        <input type="number" class="form-control" id="Closing_stock_price" placeholder="11052.35"
                            name="close" ngModel #close="ngModel" required>
                        <span class="text-danger"
                            *ngIf="(close.touched || CreateData.submitted) && close.errors?.required">
                            Close is required
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-secondary" [disabled]="close.errors || open.errors"
                        value="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>